*{
margin: 0;
padding: 0;
box-sizing: border-box;



}



body{
     font-family: 'Open Sans', sans-serif;
     background-image: url(./netflix-5.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     color: white
}
#container{
     background-color: rgba(0,0,0,0.5);
     margin: auto;
     height: 1036px;
     max-width: 1240px;
     margin-top: 30px;
}
span{

     color:red;
}
header{
     text-align: center;
}
header h1{

     font-size: 4rem;
}


